<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Chrononizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Chrononizer.Properties.Settings>
            <setting name="MusicLibrary" serializeAs="String">
                <value>E:\Music\</value>
            </setting>
            <setting name="DownscaledLibrary" serializeAs="String">
                <value>E:\Music\.downscaled\</value>
            </setting>
            <setting name="FirstBoot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoHandle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemoveFiles" serializeAs="String">
                <value>True</value>
            </setting>
        </Chrononizer.Properties.Settings>
    </userSettings>
</configuration>